@import "https://fonts.googleapis.com/css?family=Ubuntu";
*{
	margin: 0px;
	padding: 0px;
}
a, a:hover, a:focus, a:active, a:visited{
	color: #2aa198;
	text-decoration: underline;

}


html{
	font-family: "Ubuntu", "Monospace";
	background-color: #F5F5F5;
}
.name{
	color: #2aa198;
	text-align: center;
	font-size: 8vw
}

.grid-container{
	position: relative;
	display:  grid;
	grid-template-columns: repeat(3,1fr);
	column-gap: 2vw;
}


.project-box{
	font-size: 1.7vw;
	box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.2);
	border-radius: 25%;
	padding:  3vw;
	overflow: hidden;
}

.project-header{
	font-size: 3vw;
}

.text-box{
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 25%;
	background-color: #ff0000;
}
.pixi{
	background-color: #282b34;
	color: #ea1f64;
}
.howler{
	background-color: #f0e8dd;
	color: #40382d;
}
.aseprite{
	background-color: #583e46;
	color: #ffffff;
}
.R{
	background-color: #959595;
	color: #1f64b2;
}
.Cpp{
	background-color: #004482;
	color: #ffffff;
}
.HTML{
	background-color: #d35836;
	color: #ffffff;
}
.JS{
	background-color: #f7e018;
	color: #000000;
}
.CSS{
	background-color: #3963e9;
	color: #ffffff;
}
@media only screen and (max-width: 800px) {

	.grid-container{
		display: block;
		width: 100%;
	}
	.project-box{
		margin-top: 2vw;
		border-radius: 0%;
	}
}