@import "https://fonts.googleapis.com/css?family=Ubuntu";
*{
	margin: 0px;
	padding: 0px;
}
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}


html{
	font-family: "Ubuntu", "Monospace";
	background-color: #F5F5F5;
}

.name{
	color: #2aa198;
	text-align: center;
	font-size: 8vw
}

.stuff{
	text-align: center;
}
.terminal{
	display: inline-block;
	text-align: left;
	background-color: #002b36;
	color: #93a1a1;
	border-color: #839496;
	border-style: solid;
	border-width: 15px medium medium medium;
	width: 75%;
	font-size: 1.5vw;
	margin-top: 10px;


}
.neon{
	color: #859900;
}
.blue{
	color: #268bd2;
}

.results{
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	cursor: pointer;
}
.elem_magenta{
	width: 50%;
	color: #d33682;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_magenta:hover{
	color: #002b36;
	background-color: #d33682;
}
.elem_purple{
	width: 50%;
	color: #6c71c4;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_purple:hover{
	color: #002b36;
	background-color: #6c71c4;
}
.elem_blue{
	width: 50%;
	color: #268bd2;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_blue:hover{
	color: #002b36;
	background-color: #268bd2;
}
#content{
	text-align: center;
}
.big_text{
	font-size: 4vw;
}
.small_text{
	margin: 8px;
	display: inline-block;
	text-align: left;
	font-size: 1vw;
	width: 75%

}
.project-img{
	display: block;
	background-color: white;
	background-size: 32vw 18vw;
	background-repeat: no-repeat;
	font-size: 5vw;
	text-align: center;
	line-height: 18vw;
	height:  18vw;
	width:  32vw;
	margin: 8px;
	border-radius: 25%;
	transition: border-radius 500ms, color 500ms, box-shadow 500ms;
}
.project-img:hover{
	border-radius: 0px;
	color: white;
	box-shadow: 8px 8px 8px 2px rgba(0,0,0,0.2);
}

#pixirain-img{
	background-image: url("https://media.giphy.com/media/JDb9t694Ey4DM8WMSr/giphy.gif");	
}
@media only screen and (max-width: 700px) {
	.terminal{
		font-size: 3vw;
		width: 100%;
	}
	.small_text{
		font-size:2.5vw;
		width: 100%;
	}
	.project-img{
		background-size: 96vw, 54vw;
		line-height: 54vw;
		height:54vw;
		width: 96vw;
		font-size: 8vw
	}
}
