@import "https://fonts.googleapis.com/css?family=Ubuntu";
*{
	margin: 0px;
	padding: 0px;
}
a, a:hover, a:focus, a:active{
	text-decoration: none;
}



html{
	font-family: "Ubuntu", "Monospace";
	background-color: #F5F5F5;
}

.name{
	color: #2aa198;
	text-align: center;
	font-size: 8vw
}

.terminal-container{
	text-align: center;
}
.terminal{
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	background-color: #002b36;
	color: #93a1a1;
	border-color: #839496;
	border-style: solid;
	border-width: 15px medium medium medium;
	width: 75%;
	font-size: 1.5vw;
	margin-top: 10px;
	margin-right: 0px;

}
.neon{
	color: #859900;
}
.blue{
	color: #268bd2;
}

.results{
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	cursor: pointer;
}
.elem_magenta{
	width: 50%;
	color: #d33682;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_magenta:hover{
	color: #002b36;
	background-color: #d33682;
}
.elem_purple{
	width: 50%;
	color: #6c71c4;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_purple:hover{
	color: #002b36;
	background-color: #6c71c4;
}
.elem_blue{
	width: 50%;
	color: #268bd2;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}
.elem_blue:hover{
	color: #002b36;
	background-color: #268bd2;
}
#content{
	text-align: center;
}
.big_text{
	font-size: 4vw;
}
.small_text{
	display: inline-block;
	text-align: left;
	font-size: 1.3vw;
	width: 75%;

}

@media only screen and (max-width: 800px) {
	.name{
		font-size: 9vw;
	}
	hr{
		width: 75%;
		position: relative;
		left: 50%;
		transform: translate(-50%,0%);
	}
	.terminal-container{
		width:  100vw;
	}
	.terminal{
		font-size: 4.5vw;
		width: 100%;
	}
	.big_text{
		font-size: 4.5vw;
	}
	.small_text{
		font-size:3.5vw;
		width: 95%;
		float: right;
	}
}
